html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

body {
	padding: 0;
	margin: 0 0 50px 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
	margin: 16px 0;
}

.content {
	width: 90%;
	height: 100%;
	max-width: 700px;
	position: relative;
	display: block;
}

.center {
	margin: 0 auto;
	display: block;
}

.text-center {
	text-align: center;
}

header {
	display: inline-block;
	width: 100%;
	margin: 10px 0 0 0;
}

.navbar a{
	float: right;
	margin: 0 10px;
	font-size: 0.7em;
}

.navbar a:hover {
	opacity: 0.5;
}

.quote {
	font-size: 24px;
	text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 25px 0;

}

.image {
	width: 200px;
	height: 200px;
	background: url('paul1.png');
	background-position: 0px -18px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	border: 1px solid #C1B8B8;
}

.separator {
	margin: 0 10px;
}

section {
	margin-top: 40px;
}

.subsection {
	margin: 0;
	padding: 50px 0 0 0;
}

.subsection:after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #222;
	display: block;
  margin: 5px 0 0 0;
}

.work {
	display: inline-block;
	width: 33%;
	float: left;
	margin: 16px 0;
	font-size: 0.9em;
}

.work h4 {
	font-size: 1.3em;
	margin: 0.5em 0;
}

.work ul {
	padding: 0 0 0 10px;
}

.work .more-info {
	width: 90%;
  text-align: left;
  margin: 0 auto;
}

.work-logo {
	height: 70px;
	margin: 25px auto;
}
